{
  "openapi": "3.0.1",
  "info": {
    "title": "Ed-Fi Operational Data Store API",
    "description": "The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. \n***\n > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.* \n***\n",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.ed-fi.org:443/v7.1/api/data/v3"
    }
  ],
  "paths": {
    "/ed-fi/academicWeeks": {
      "get": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAcademicWeeks",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "weekIdentifier",
            "in": "query",
            "description": "The school label for the week.",
            "schema": {
              "maxLength": 80,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "schoolId",
            "in": "query",
            "description": "The identifier assigned to a school.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "The start date for the academic week.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for the academic week.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalInstructionalDays",
            "in": "query",
            "description": "The total instructional days during the academic week.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_academicWeek"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postAcademicWeek",
        "requestBody": {
          "description": "The JSON representation of the \"academicWeek\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_academicWeek"
              }
            }
          },
          "required": true,
          "x-bodyName": "academicWeek"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/academicWeeks/{id}": {
      "get": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAcademicWeeksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_academicWeek"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putAcademicWeek",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"academicWeek\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_academicWeek"
              }
            }
          },
          "required": true,
          "x-bodyName": "academicWeek"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAcademicWeekById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/academicWeeks/deletes": {
      "get": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Retrieves deleted resources based on change version.",
        "description": "This operation is used to retrieve identifying information about resources that have been deleted.",
        "operationId": "deletesAcademicWeeks",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_academicWeekDelete"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/academicWeeks/keyChanges": {
      "get": {
        "tags": [
          "academicWeeks"
        ],
        "summary": "Retrieves resources key changes based on change version.",
        "description": "This operation is used to retrieve identifying information about resources whose key values have been changed.",
        "operationId": "keyChangesAcademicWeeks",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_academicWeekKeyChange"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings": {
      "get": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAccountabilityRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "ratingTitle",
            "in": "query",
            "description": "The title of the rating.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "schoolYear",
            "in": "query",
            "description": "The school year for which the accountability rating is assessed.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "description": "An accountability rating level, designation, or assessment.",
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "ratingDate",
            "in": "query",
            "description": "The date the rating was awarded.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ratingOrganization",
            "in": "query",
            "description": "The organization that assessed the rating.",
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "ratingProgram",
            "in": "query",
            "description": "The program associated with the accountability rating (e.g., NCLB, AEIS).",
            "schema": {
              "maxLength": 30,
              "type": "string"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_accountabilityRating"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postAccountabilityRating",
        "requestBody": {
          "description": "The JSON representation of the \"accountabilityRating\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_accountabilityRating"
              }
            }
          },
          "required": true,
          "x-bodyName": "accountabilityRating"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings/{id}": {
      "get": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAccountabilityRatingsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_accountabilityRating"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putAccountabilityRating",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"accountabilityRating\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_accountabilityRating"
              }
            }
          },
          "required": true,
          "x-bodyName": "accountabilityRating"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAccountabilityRatingById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings/deletes": {
      "get": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Retrieves deleted resources based on change version.",
        "description": "This operation is used to retrieve identifying information about resources that have been deleted.",
        "operationId": "deletesAccountabilityRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_accountabilityRatingDelete"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings/keyChanges": {
      "get": {
        "tags": [
          "accountabilityRatings"
        ],
        "summary": "Retrieves resources key changes based on change version.",
        "description": "This operation is used to retrieve identifying information about resources whose key values have been changed.",
        "operationId": "keyChangesAccountabilityRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_accountabilityRatingKeyChange"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessments": {
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAssessments",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "assessmentIdentifier",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to an assessment.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Namespace for the assessment.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "assessmentCategoryDescriptor",
            "in": "query",
            "description": "The category of an assessment based on format and content.",
            "schema": {
              "maxLength": 306,
              "type": "string"
            }
          },
          {
            "name": "adaptiveAssessment",
            "in": "query",
            "description": "Indicates that the assessment is adaptive.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assessmentFamily",
            "in": "query",
            "description": "The assessment family this assessment is a member of.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            }
          },
          {
            "name": "assessmentForm",
            "in": "query",
            "description": "Identifies the form of the assessment, for example a regular versus makeup form, multiple choice versus constructed response, etc.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            }
          },
          {
            "name": "assessmentTitle",
            "in": "query",
            "description": "The title or name of the assessment.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          },
          {
            "name": "assessmentVersion",
            "in": "query",
            "description": "The version identifier for the assessment.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxRawScore",
            "in": "query",
            "description": "The maximum raw score achievable across all assessment items that are correct and scored at the maximum.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "nomenclature",
            "in": "query",
            "description": "Reflects the specific nomenclature used for assessment.",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "revisionDate",
            "in": "query",
            "description": "The month, day, and year that the conceptual design for the assessment was most recently revised substantially.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_assessment"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "assessments"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postAssessment",
        "requestBody": {
          "description": "The JSON representation of the \"assessment\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessment"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessments/{id}": {
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAssessmentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_assessment"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "assessments"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putAssessment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"assessment\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessment"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessment"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "assessments"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAssessmentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessments/deletes": {
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Retrieves deleted resources based on change version.",
        "description": "This operation is used to retrieve identifying information about resources that have been deleted.",
        "operationId": "deletesAssessments",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentDelete"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessments/keyChanges": {
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Retrieves resources key changes based on change version.",
        "description": "This operation is used to retrieve identifying information about resources whose key values have been changed.",
        "operationId": "keyChangesAssessments",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentKeyChange"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentItems": {
      "get": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAssessmentItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "identificationCode",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to a space, room, site, building, individual, organization, program, or institution by a school, school system, state, or other agency or entity.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "assessmentIdentifier",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to an assessment.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Namespace for the assessment.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "assessmentItemCategoryDescriptor",
            "in": "query",
            "description": "Category or type of the assessment item.",
            "schema": {
              "maxLength": 306,
              "type": "string"
            }
          },
          {
            "name": "assessmentItemURI",
            "in": "query",
            "description": "The URI (typical a URL) pointing to the entry in an assessment item bank, which describes this content item.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          },
          {
            "name": "expectedTimeAssessed",
            "in": "query",
            "description": "The duration of time allotted for the assessment item.",
            "schema": {
              "maxLength": 30,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemText",
            "in": "query",
            "description": "The text of the item.",
            "schema": {
              "maxLength": 1024,
              "type": "string"
            }
          },
          {
            "name": "maxRawScore",
            "in": "query",
            "description": "The maximum raw score achievable across all assessment items that are correct and scored at the maximum.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "nomenclature",
            "in": "query",
            "description": "Reflects the specific nomenclature used for assessment item.",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_assessmentItem"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postAssessmentItem",
        "requestBody": {
          "description": "The JSON representation of the \"assessmentItem\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessmentItem"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessmentItem"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentItems/{id}": {
      "get": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAssessmentItemsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_assessmentItem"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putAssessmentItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"assessmentItem\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessmentItem"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessmentItem"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAssessmentItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentItems/deletes": {
      "get": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Retrieves deleted resources based on change version.",
        "description": "This operation is used to retrieve identifying information about resources that have been deleted.",
        "operationId": "deletesAssessmentItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentItemDelete"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentItems/keyChanges": {
      "get": {
        "tags": [
          "assessmentItems"
        ],
        "summary": "Retrieves resources key changes based on change version.",
        "description": "This operation is used to retrieve identifying information about resources whose key values have been changed.",
        "operationId": "keyChangesAssessmentItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentItemKeyChange"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentScoreRangeLearningStandards": {
      "get": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAssessmentScoreRangeLearningStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "scoreRangeId",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to the score range associated with one or more learning standards.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "assessmentIdentifier",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to an assessment.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Namespace for the assessment.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "identificationCode",
            "in": "query",
            "description": "A unique number or alphanumeric code assigned to an objective assessment by a school, school system, a state, or other agency or entity.",
            "schema": {
              "maxLength": 60,
              "type": "string"
            }
          },
          {
            "name": "assessmentReportingMethodDescriptor",
            "in": "query",
            "description": "The assessment reporting method defined (e.g., scale score, RIT scale score) associated with the referenced learning standard(s).",
            "schema": {
              "maxLength": 306,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maximumScore",
            "in": "query",
            "description": "The maximum score in the score range.",
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "minimumScore",
            "in": "query",
            "description": "The minimum score in the score range.",
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_assessmentScoreRangeLearningStandard"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postAssessmentScoreRangeLearningStandard",
        "requestBody": {
          "description": "The JSON representation of the \"assessmentScoreRangeLearningStandard\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessmentScoreRangeLearningStandard"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessmentScoreRangeLearningStandard"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentScoreRangeLearningStandards/{id}": {
      "get": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAssessmentScoreRangeLearningStandardsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_assessmentScoreRangeLearningStandard"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putAssessmentScoreRangeLearningStandard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"assessmentScoreRangeLearningStandard\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_assessmentScoreRangeLearningStandard"
              }
            }
          },
          "required": true,
          "x-bodyName": "assessmentScoreRangeLearningStandard"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAssessmentScoreRangeLearningStandardById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentScoreRangeLearningStandards/deletes": {
      "get": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Retrieves deleted resources based on change version.",
        "description": "This operation is used to retrieve identifying information about resources that have been deleted.",
        "operationId": "deletesAssessmentScoreRangeLearningStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentScoreRangeLearningStandardDelete"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/assessmentScoreRangeLearningStandards/keyChanges": {
      "get": {
        "tags": [
          "assessmentScoreRangeLearningStandards"
        ],
        "summary": "Retrieves resources key changes based on change version.",
        "description": "This operation is used to retrieve identifying information about resources whose key values have been changed.",
        "operationId": "keyChangesAssessmentScoreRangeLearningStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trackedChanges_edFi_assessmentScoreRangeLearningStandardKeyChange"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/balanceSheetDimensions": {
      "get": {
        "tags": [
          "balanceSheetDimensions"
        ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getBalanceSheetDimensions",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/MinChangeVersion"
          },
          {
            "$ref": "#/components/parameters/MaxChangeVersion"
          },
          {
            "$ref": "#/components/parameters/totalCount"
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code representation of the account balance sheet dimension.",
            "schema": {
              "maxLength": 16,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "fiscalYear",
            "in": "query",
            "description": "The fiscal year for which the account balance sheet dimension is valid.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "codeName",
            "in": "query",
            "description": "A description of the account balance sheet dimension.",
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/edFi_balanceSheetDimension"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "balanceSheetDimensions"
        ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error. The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately. It is recommended to use POST for both create and update except while updating natural key of a resource in which case PUT operation must be used.",
        "operationId": "postBalanceSheetDimension",
        "requestBody": {
          "description": "The JSON representation of the \"balanceSheetDimension\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_balanceSheetDimension"
              }
            }
          },
          "required": true,
          "x-bodyName": "balanceSheetDimension"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Updated"
          },
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/ed-fi/balanceSheetDimensions/{id}": {
      "get": {
        "tags": [
          "balanceSheetDimensions"
        ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getBalanceSheetDimensionsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "name": "Use-Snapshot",
            "in": "header",
            "description": "Indicates if the configured Snapshot should be used.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edFi_balanceSheetDimension"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundUseSnapshot"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "balanceSheetDimensions"
        ],
        "summary": "Updates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update a resource by identifier. If the resource identifier (\"id\") is provided in the JSON body, it will be ignored. Additionally, this API resource is not configured for cascading natural key updates. Natural key values for this resource cannot be changed using PUT operation, so the recommendation is to use POST as that supports upsert behavior.",
        "operationId": "putBalanceSheetDimension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JSON representation of the \"balanceSheetDimension\" resource to be created or updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edFi_balanceSheetDimension"
              }
            }
          },
          "required": true,
          "x-bodyName": "balanceSheetDimension"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "balanceSheetDimensions"
        ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteBalanceSheetDimensionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "description": "Method Is Not Allowed. When the Use-Snapshot header is set to true, the method is not allowed."
          },
          "409": {
[...]
