openapi: 3.0.1
info:
  title: Ed-Fi Operational Data Store API
  description: >
    The Ed-Fi ODS / API enables applications to read and write education data
    stored in an Ed-Fi ODS through a secure REST interface. 

    ***
     > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.* 
    ***
  version: '3'
servers:
  - url: https://api.ed-fi.org:443/v7.1/api/data/v3
paths:
  /ed-fi/absenceEventCategoryDescriptors:
    get:
      tags:
        - absenceEventCategoryDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAbsenceEventCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: absenceEventCategoryDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_absenceEventCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - absenceEventCategoryDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAbsenceEventCategoryDescriptor
      requestBody:
        description: >-
          The JSON representation of the "absenceEventCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_absenceEventCategoryDescriptor'
        required: true
        x-bodyName: absenceEventCategoryDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/absenceEventCategoryDescriptors/{id}:
    get:
      tags:
        - absenceEventCategoryDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAbsenceEventCategoryDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_absenceEventCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - absenceEventCategoryDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAbsenceEventCategoryDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "absenceEventCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_absenceEventCategoryDescriptor'
        required: true
        x-bodyName: absenceEventCategoryDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - absenceEventCategoryDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAbsenceEventCategoryDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/absenceEventCategoryDescriptors/deletes:
    get:
      tags:
        - absenceEventCategoryDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAbsenceEventCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_absenceEventCategoryDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/absenceEventCategoryDescriptors/keyChanges:
    get:
      tags:
        - absenceEventCategoryDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAbsenceEventCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_absenceEventCategoryDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicHonorCategoryDescriptors:
    get:
      tags:
        - academicHonorCategoryDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAcademicHonorCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: academicHonorCategoryDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_academicHonorCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - academicHonorCategoryDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAcademicHonorCategoryDescriptor
      requestBody:
        description: >-
          The JSON representation of the "academicHonorCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_academicHonorCategoryDescriptor'
        required: true
        x-bodyName: academicHonorCategoryDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicHonorCategoryDescriptors/{id}:
    get:
      tags:
        - academicHonorCategoryDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAcademicHonorCategoryDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_academicHonorCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - academicHonorCategoryDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAcademicHonorCategoryDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "academicHonorCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_academicHonorCategoryDescriptor'
        required: true
        x-bodyName: academicHonorCategoryDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - academicHonorCategoryDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAcademicHonorCategoryDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicHonorCategoryDescriptors/deletes:
    get:
      tags:
        - academicHonorCategoryDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAcademicHonorCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_academicHonorCategoryDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicHonorCategoryDescriptors/keyChanges:
    get:
      tags:
        - academicHonorCategoryDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAcademicHonorCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_academicHonorCategoryDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicSubjectDescriptors:
    get:
      tags:
        - academicSubjectDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAcademicSubjectDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: academicSubjectDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_academicSubjectDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - academicSubjectDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAcademicSubjectDescriptor
      requestBody:
        description: >-
          The JSON representation of the "academicSubjectDescriptor" resource to
          be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_academicSubjectDescriptor'
        required: true
        x-bodyName: academicSubjectDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicSubjectDescriptors/{id}:
    get:
      tags:
        - academicSubjectDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAcademicSubjectDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_academicSubjectDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - academicSubjectDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAcademicSubjectDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "academicSubjectDescriptor" resource to
          be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_academicSubjectDescriptor'
        required: true
        x-bodyName: academicSubjectDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - academicSubjectDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAcademicSubjectDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicSubjectDescriptors/deletes:
    get:
      tags:
        - academicSubjectDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAcademicSubjectDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_academicSubjectDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/academicSubjectDescriptors/keyChanges:
    get:
      tags:
        - academicSubjectDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAcademicSubjectDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_academicSubjectDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accommodationDescriptors:
    get:
      tags:
        - accommodationDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAccommodationDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: accommodationDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_accommodationDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - accommodationDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAccommodationDescriptor
      requestBody:
        description: >-
          The JSON representation of the "accommodationDescriptor" resource to
          be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_accommodationDescriptor'
        required: true
        x-bodyName: accommodationDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accommodationDescriptors/{id}:
    get:
      tags:
        - accommodationDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAccommodationDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_accommodationDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - accommodationDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAccommodationDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "accommodationDescriptor" resource to
          be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_accommodationDescriptor'
        required: true
        x-bodyName: accommodationDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - accommodationDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAccommodationDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accommodationDescriptors/deletes:
    get:
      tags:
        - accommodationDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAccommodationDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_accommodationDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accommodationDescriptors/keyChanges:
    get:
      tags:
        - accommodationDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAccommodationDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_accommodationDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accountTypeDescriptors:
    get:
      tags:
        - accountTypeDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAccountTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: accountTypeDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_accountTypeDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - accountTypeDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAccountTypeDescriptor
      requestBody:
        description: >-
          The JSON representation of the "accountTypeDescriptor" resource to be
          created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_accountTypeDescriptor'
        required: true
        x-bodyName: accountTypeDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accountTypeDescriptors/{id}:
    get:
      tags:
        - accountTypeDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAccountTypeDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_accountTypeDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - accountTypeDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAccountTypeDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "accountTypeDescriptor" resource to be
          created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_accountTypeDescriptor'
        required: true
        x-bodyName: accountTypeDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - accountTypeDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAccountTypeDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accountTypeDescriptors/deletes:
    get:
      tags:
        - accountTypeDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAccountTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_accountTypeDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/accountTypeDescriptors/keyChanges:
    get:
      tags:
        - accountTypeDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAccountTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_accountTypeDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /tpdm/accreditationStatusDescriptors:
    get:
      tags:
        - accreditationStatusDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAccreditationStatusDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: accreditationStatusDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tpdm_accreditationStatusDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - accreditationStatusDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAccreditationStatusDescriptor
      requestBody:
        description: >-
          The JSON representation of the "accreditationStatusDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tpdm_accreditationStatusDescriptor'
        required: true
        x-bodyName: accreditationStatusDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /tpdm/accreditationStatusDescriptors/{id}:
    get:
      tags:
        - accreditationStatusDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAccreditationStatusDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tpdm_accreditationStatusDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - accreditationStatusDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAccreditationStatusDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "accreditationStatusDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tpdm_accreditationStatusDescriptor'
        required: true
        x-bodyName: accreditationStatusDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - accreditationStatusDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAccreditationStatusDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /tpdm/accreditationStatusDescriptors/deletes:
    get:
      tags:
        - accreditationStatusDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAccreditationStatusDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_tpdm_accreditationStatusDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /tpdm/accreditationStatusDescriptors/keyChanges:
    get:
      tags:
        - accreditationStatusDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAccreditationStatusDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_tpdm_accreditationStatusDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/achievementCategoryDescriptors:
    get:
      tags:
        - achievementCategoryDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAchievementCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: achievementCategoryDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_achievementCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - achievementCategoryDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAchievementCategoryDescriptor
      requestBody:
        description: >-
          The JSON representation of the "achievementCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_achievementCategoryDescriptor'
        required: true
        x-bodyName: achievementCategoryDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/achievementCategoryDescriptors/{id}:
    get:
      tags:
        - achievementCategoryDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAchievementCategoryDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_achievementCategoryDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - achievementCategoryDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAchievementCategoryDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "achievementCategoryDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_achievementCategoryDescriptor'
        required: true
        x-bodyName: achievementCategoryDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - achievementCategoryDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAchievementCategoryDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/achievementCategoryDescriptors/deletes:
    get:
      tags:
        - achievementCategoryDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAchievementCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_achievementCategoryDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/achievementCategoryDescriptors/keyChanges:
    get:
      tags:
        - achievementCategoryDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAchievementCategoryDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_achievementCategoryDescriptorKeyChange
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/additionalCreditTypeDescriptors:
    get:
      tags:
        - additionalCreditTypeDescriptors
      summary: >-
        Retrieves specific resources using the resource's property values (using
        the "Get" pattern).
      description: >-
        This GET operation provides access to resources using the "Get" search
        pattern.  The values of any properties of the resource that are
        specified will be used to return all matching results (if it exists).
      operationId: getAdditionalCreditTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: additionalCreditTypeDescriptorId
          in: query
          description: >-
            A unique identifier used as Primary Key, not derived from business
            logic, when acting as Foreign Key, references the parent table.
          schema:
            type: integer
            format: int32
          x-Ed-Fi-isIdentity: true
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/edFi_additionalCreditTypeDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - additionalCreditTypeDescriptors
      summary: >-
        Creates or updates resources based on the natural key values of the
        supplied resource.
      description: >-
        The POST operation can be used to create or update resources. In
        database terms, this is often referred to as an "upsert" operation
        (insert + update). Clients should NOT include the resource "id" in the
        JSON body because it will result in an error. The web service will
        identify whether the resource already exists based on the natural key
        values provided, and update or create the resource appropriately. It is
        recommended to use POST for both create and update except while updating
        natural key of a resource in which case PUT operation must be used.
      operationId: postAdditionalCreditTypeDescriptor
      requestBody:
        description: >-
          The JSON representation of the "additionalCreditTypeDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_additionalCreditTypeDescriptor'
        required: true
        x-bodyName: additionalCreditTypeDescriptor
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/additionalCreditTypeDescriptors/{id}:
    get:
      tags:
        - additionalCreditTypeDescriptors
      summary: >-
        Retrieves a specific resource using the resource's identifier (using the
        "Get By Id" pattern).
      description: >-
        This GET operation retrieves a resource by the specified resource
        identifier.
      operationId: getAdditionalCreditTypeDescriptorsById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/If-None-Match'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edFi_additionalCreditTypeDescriptor'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
    put:
      tags:
        - additionalCreditTypeDescriptors
      summary: Updates a resource based on the resource identifier.
      description: >-
        The PUT operation is used to update a resource by identifier. If the
        resource identifier ("id") is provided in the JSON body, it will be
        ignored. Additionally, this API resource is not configured for cascading
        natural key updates. Natural key values for this resource cannot be
        changed using PUT operation, so the recommendation is to use POST as
        that supports upsert behavior.
      operationId: putAdditionalCreditTypeDescriptor
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the PUT from updating a
            resource modified by another consumer.
          schema:
            type: string
      requestBody:
        description: >-
          The JSON representation of the "additionalCreditTypeDescriptor"
          resource to be created or updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edFi_additionalCreditTypeDescriptor'
        required: true
        x-bodyName: additionalCreditTypeDescriptor
      responses:
        '204':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - additionalCreditTypeDescriptors
      summary: Deletes an existing resource using the resource identifier.
      description: >-
        The DELETE operation is used to delete an existing resource by
        identifier. If the resource doesn't exist, an error will result (the
        resource will not be found).
      operationId: deleteAdditionalCreditTypeDescriptorById
      parameters:
        - name: id
          in: path
          description: A resource identifier that uniquely identifies the resource.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: >-
            The ETag header value used to prevent the DELETE from removing a
            resource modified by another consumer.
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: >-
            Method Is Not Allowed. When the Use-Snapshot header is set to true,
            the method is not allowed.
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/additionalCreditTypeDescriptors/deletes:
    get:
      tags:
        - additionalCreditTypeDescriptors
      summary: Retrieves deleted resources based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources that have been deleted.
      operationId: deletesAdditionalCreditTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
          description: Indicates if the configured Snapshot should be used.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The requested resource was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/trackedChanges_edFi_additionalCreditTypeDescriptorDelete
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundUseSnapshot'
        '500':
          $ref: '#/components/responses/Error'
  /ed-fi/additionalCreditTypeDescriptors/keyChanges:
    get:
      tags:
        - additionalCreditTypeDescriptors
      summary: Retrieves resources key changes based on change version.
      description: >-
        This operation is used to retrieve identifying information about
        resources whose key values have been changed.
      operationId: keyChangesAdditionalCreditTypeDescriptors
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/MinChangeVersion'
        - $ref: '#/components/parameters/MaxChangeVersion'
        - $ref: '#/components/parameters/totalCount'
        - name: Use-Snapshot
          in: header
[...]
